@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@300;600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

.pd{
    padding: 15px 30px;
}
.mobile{
    display: none;
}
.desktop {
    display: block;
}
.title {
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 2.5rem;
}
.subtitle {
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 20px;
}

body {
    background-color: #2B2B2B; 
}

.header {
    padding: 15px 30px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-nav__logo img:last-child {
    width: 75%;
}

.header-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.header-hero__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.header-hero__text h1{
    font-family: 'Work Sans', sans-serif;
    color: #ffff;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 35px;
}

.header-hero__text p {
    font-family: 'Work Sans', sans-serif;
    color: #ffff;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.6rem;
}

.header-hero__gif {
    display: flex;
    justify-content: center;
}

.header-hero__gif img{
    width: 90%;
}

.header-hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #A259FF;
    width: 325px;
    height: 60px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.header-hero__button:hover {
    background-color: #7a2edd;
    transform: scale(0.9);
}

.header-hero__button p {
    font-size: 1.8rem;
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin: 0;
}

.header-hero__informations {
    display: flex;
    gap: 30px;
}

.information-item h2 {
    font-family: 'Space Mono', monospace;
    color: #ffff;
    font-size: 2.2rem;
    font-weight: 600;
}

.information-item p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.7rem;
    color: #ffff;
}
.trending {
    padding: 40px 30px;
    display: grid;
    gap: 30px;
}

.trending__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trending__content__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#item2 {
    display: none;
}

#item3 {
    display: none;
}
#item4 {
    display: none;
}
#item5 {
    display: flex;
}
#item6 {
    display: flex;
}

.trending__content__item__main img{
    width: 100%;
    transition: all 0.3s ease;
}

.trending__content__item__main img:hover{
    transform: scale(0.9);
}

.trending__content__item__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.trending__content__item__images img {
    width: 100%;
    transition: all 0.3s ease;
}

.trending__content__item__images img:hover{
    transform: scale(0.9);
}

.trending__content__item__images div {
    background-color: #A259FF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    height: 100%;
}

.trending__content__item__images div:hover {
    background-color: #7a2edd;
    transform: scale(0.9);
}

.trending__content__item__images div p {
    font-size: 1.7rem;
    font-family: 'Space Mono', monospace;
    color: #ffff;
    font-weight: 600;
}

.trending__content__item__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trending__content__item__info h2 {
    font-size: 1.8rem;
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
}

.trending__content__item__info div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.trending__content__item__info div img {
    width: 10%; 
}

.trending__content__item__info div p {
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
}

.creators {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 45px;
}

.creators__grid {
    display: grid;
    
}

.creators__text__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.creators__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3B3B3B;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    margin: 10px 0;
}

.creators__content:hover{
    transform: scale(0.94);
}

.creators__content__image{
    width: 25%;
    display: flex;
    justify-content: flex-start;
}

.creators__content__image img{
    width: 100%;
}


.creators__content__text h2{
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.3rem;
}

.creators__content__text p {
    color: #838382;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
}

.creators__content__text p span {
    color: #ffff;
    font-family: 'Space Mono', monospace;
}

.creators__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #A259FF;
    height: 60px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.creators__button:hover {
    background-color: #7a2edd;
    transform: scale(0.94);
}

.creators__button p {
    font-size: 1.8rem;
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin: 0;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 45px;
}

.categories__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.categorie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transition: all 0.3s ease;
}

.categorie-card:hover{
    transform: scale(0.94);
}

.categorie-card__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.categorie-card__image__icon {
    position: absolute;
    display: flex;
    justify-content: center;
}

.categorie-card__image__icon img {
    width: 80%;
}

.categorie-card__text {
    background-color: #3B3B3B;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.categorie-card__text p {
    font-size: 1.5rem;
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.discover {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 45px;
}

.discover__text__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
}

.discover__content {
    display: grid;
    gap: 20px;
}

.discover__card {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.discover__card:hover {
    transform: scale(0.94);
}

.discover__card__images img{
    width: 100%;
}

.discover__card__text {
    padding: 20px 20px 25px;
    background-color: #3B3B3B;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.discover__card__text__title h2 {
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.1rem;
    margin-bottom: 15px;
}

.discover__card__text__user {
    display: flex;
    align-items: center ;
    gap: 10px;
}

.discover__card__text__user img {
    width: 10%;
}

.discover__card__text__user p {
    color: #ffff;
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
}

.discover__card__text__second {
    display: flex;
    color: #ffff;
    font-family: 'Space Mono', monospace;
    justify-content: space-between;
}

.discover__card__text__price {
    display: flex;
    flex-direction: column;
}

.discover__card__text__price p {
    font-size: 1.3rem;
}

.discover__card__text__price p span {
    color: #838382;
}

.discover__card__text__bid {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.discover__card__text__bid p {
    font-size: 1.3rem;
}

.discover__card__text__bid p span {
    color: #838382;
}

.discover__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid #A259FF;
    height: 60px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.discover__button:hover {
    border: 2px solid #7a2edd;
    transform: scale(0.94);
}

.discover__button p {
    font-size: 1.8rem;
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin: 0;
}

.mushroom {
    background-image: url(../img/cogumelo.png);
    background-size: cover;
    height: 550px;
    background-position: 50% 50%;
}

.mushroom__content {
    background: linear-gradient(180deg, rgba(162.00005114078522, 89.00000989437103, 255, 0) 0%, rgb(162.00000554323196, 89.00000229477882, 255) 100%);
    background-color: transparent;
    height: inherit;
    padding-bottom: 45px;
}

.mushroom__content__pd {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mushroom__content__user {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #3F3C41;
    padding: 10px;
    width: 43%;
    border-radius: 35px;
    transition: all 0.3s ease;
}

.mushroom__content__user:hover {
    transform: scale(0.94);
}

.mushroom__content__user img {
    width: 30%;
}

.mushroom__content__user p {
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
}

.mushroom-title {
    font-size: 3.5rem;
    width: 50%;
}

.mushroom__content__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mushroom__content__timer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #3b3b3b8a;
    border-radius: 20px;
}

.mushroom__content__timer__title h2{
    color: #ffff;
    font-family: 'Space Mono', monospace;
    font-size: 1.4rem;
    font-weight: 100;
}

.mushroom__content__timer__text {
    display: flex;
    gap: 10px;
}

.mushroom__content__timer__text div h3 {
    color: #ffff;
    font-family: 'Space Mono', monospace;
    font-size: 3.5rem;
}

.mushroom__content__timer__text div p {
    color: #ffff;
    font-family: 'Space Mono', monospace;
    font-size: 1.3rem;
    font-weight: 100;
}

.mushroom__content__timer__text div h4 {
    color: #ffff;
    font-family: 'Space Mono', monospace;
    font-size: 3.5rem;
    padding: 0 5px;
}

.mushroom__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ffff;
    height: 60px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.mushroom__button:hover {
    transform: scale(0.94);
}

.mushroom__button p {
    font-size: 1.8rem;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin: 0;
}

.works {
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.works__content {
    display: grid;
    gap: 20px;
}

.works__item {
    display: flex;
    gap: 15px;
    background-color: #3B3B3B;
    padding: 20px;
    border-radius: 20px;
}

.works__item__image {
    width: 100%;
    display: flex;
}

.works__item__image img{
    width: 100%;
}

.works__item__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 150%;
}

.works__item__text h2{
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
}

.works__item__text p{
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
}

.contact {
    margin-bottom: 45px;
}

.contact__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__content__main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact__content__image img{
    width: 100%;
}

.contact__content__main__text h2{
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
}

.contact__content__main__input input {
    height: 60px;
    width: 100%;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 1.6rem;
    color: #3F3C41;
}

.contact__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer {
    background-color: #3B3B3B;
    padding: 40px 0 15px 0;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__content__main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.footer__content__main__first {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__content__main__first__logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__content__main__first__logo img:first-child {
    width: 10%;
}

.footer__content__main__first__logo img:last-child {
    width: 60%;
}

.footer__content__main__first div:nth-child(2) p {
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
}

.footer__content__main__first div:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__content__main__first div:nth-child(3) p {
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
}

.footer__content__main__first div:nth-child(3) div:last-child {
    display: flex;
    gap: 10px;
}

.footer__content__main__middle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__content__main__middle div:last-child ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__content__main__middle div:last-child ul li{
    color: #ffff;
    font-size: 1.6rem;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
}

.footer__content__main__middle div:last-child ul a {
    width: fit-content;
}

.footer__content__main__middle div:last-child ul li:hover {
    color: #CBAFF0;
}

.footer__content__main__last {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__content__main__last p {
    color: #ffff;
    font-size: 1.6rem;
    font-family: 'Work Sans', sans-serif;
}

.footer__content__rigth {
    border-top: 1px solid #838382;
}

.footer__content__rigth p {
    color: #ffff;
    font-size: 1.3rem;
    font-family: 'Work Sans', sans-serif;
    padding-top: 15px;
}

.footer__content__main__input input {
    height: 60px;
    width: 100%;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 1.6rem;
    color: #3F3C41;
}

.footer__content__main__input input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.footer__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #A259FF;
    height: 60px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.footer__button:hover {
    background-color: #7a2edd;
    transform: scale(0.94);
}

.footer__button p {
    font-size: 1.8rem;
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin: 0;
}

@media (min-width: 768px) {
    .title {
        font-size: 3rem;
    }
    .subtitle {
        font-size: 1.7rem;
    }

    .header-nav__logo img:last-child {
        width: auto;
    }
    .pd{
        padding: 40px 50px;
    }

    .header {
        padding: 15px 50px;
    }
    .header-hero {
        flex-direction: row;
        margin-top: 50px;
        gap: 40px;
    }
    .header-hero__content{ 
        width: 50%;
    }
    .header-hero__text h1{
        font-size: 3.5rem;
    }
    .header-hero__text p {
        font-size: 1.5rem;
    }
    .header-hero__gif {
        width: 50%;
    }
    .header-hero__gif img {
        width: 115%;
    }
    .header-hero__button { 
        width: 220px;     
    }
    .information-item p {
        width: max-content;
    }
    .trending__text {
        padding: 0 50px;
    }
    .trending__content {
        padding: 0 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    #item2 {
        display: flex;
    }
    .creators {
        padding: 45px 100px 0 100px;
    }
    .creators__content {
        margin: 0;
    }
    .creators__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .creators__content__text p {
        font-size: 1.2rem;
    }
    .creators__content__text h2 {
        font-size: 2.1rem;
    }
    #item4 {
        display: flex;
    }
    #item5 {
        display: none;
    }
    .creators__text {
        display: flex;
        align-items: flex-end;
        gap: 30px;
    }
    .creators__text__title {
        width: 90%;
    }
    .creators__button__top {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 2px solid #A259FF;
        width: 325px;
        height: 60px;
        border-radius: 20px;
        transition: all 0.3s ease;
    }
    .creators__button__top:hover {
        transform: scale(0.94);
    }
    .creators__button__top p {
        font-size: 1.8rem;
        color: #ffff;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        margin: 0;
    }
    .categories__text,.categories__content {
        padding: 0 50px;
    }
    .categories__content {
        grid-template-columns: repeat(4, 1fr);
    }
    .categorie-card__text p {
        font-size: 1.2rem;
    }
    .discover__text, .discover__content {
        padding: 0 50px;
    }
    .discover__text {
        display: flex;
        align-items: flex-end;
        gap: 30px;
    }
    .discover__text__title {
        width: 90%;
    }
    .discover__button__top {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 2px solid #A259FF;
        width: 325px;
        height: 60px;
        border-radius: 20px;
        transition: all 0.3s ease;
    }
    .discover__button__top:hover {
        transform: scale(0.94);
    }
    .discover__button__top p {
        font-size: 1.8rem;
        color: #ffff;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        margin: 0;
    }
    #item6 {
        display: none;
    }
    .discover__content {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .mushroom__content {
        display: flex;
        align-items: end;
    }
    .mushroom__content__pd {
        padding: 0 50px;
    }
    .mushroom__content__user {
        width: 25%;
    }
    .mushroom__content__main {
        flex-direction: row;
    }
    .mushroom__content__title {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .mushroom-title {
        width: 100%; 
        font-size: 4rem;
    }
    .mushroom__button__top {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: #ffff;
        height: 60px;
        width: 80%;
        border-radius: 20px;
        transition: all 0.3s ease;
    }
    
    .mushroom__button__top:hover {
        transform: scale(0.94);
    }
    .mushroom__button__top p {
        font-size: 1.8rem;
        color: black;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        margin: 0;
    }
    .mushroom__content__timer {
        justify-content: center;
        gap: 10px;
    }
    .mushroom__content__timer__title h2 {
        font-size: 1.5rem;
    }
    .mushroom__content__timer__text div p { 
        font-size: 1.4rem;
    }
    .works {
        padding-top: 80px;
    }
    .works__content {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 40px;
    }
    .works__item {
        flex-direction: column;
    }
    .works__item__text {
        width: 100%;
        text-align: center;
    }
    .works__item__text h2 {
        font-size: 2.1rem;
    }
    .contact__content {
      flex-direction: row;
      padding: 30px;
      background-color: #3B3B3B;
      margin: 0 40px;
      border-radius: 20px;
    }
    .contact__content__image {
        display: flex;
        width: fit-content;
    }
    .contact__content__image img {
        width: 100%;
    }
    .contact__content__main__input {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contact__content__main__input input {
        height: 50px;
    }
    .contact__content__main__input__button {
        background-color: #A259FF;
        width: 100%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 50px;
        border-radius: 20px;
        transition: all 0.3s ease;
    }
    .contact__content__main__input__button:hover {
        transform: scale(0.94);
        color: #7a2edd;
    }
    .contact__content__main__input__button p {
        font-size: 1.8rem;
        color: #ffff;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        margin: 0;
    }

    .footer__content {
        padding: 0 90px;
    }

    .footer__content__main__first__logo img:first-child {
        width: 7%;
    }
    
    .footer__content__main__first__logo img:last-child {
        width: 35%;
    }

    .footer__content__main__last {
        width: 80%;
    }
    
    .footer__content__main__input {
        flex-direction: row;
        gap: 0;
        background-color: #ffff;
        align-items: center;
        border-radius: 20px;
        justify-content: space-between;
        height: 60px;
    }
    
    .footer__content__main__input {
        display: flex;
        flex-direction: row;
        gap: 0;
        background-color: #ffff;
        align-items: center;
        border-radius: 20px;
        justify-content: start;
        height: 60px;
        width: min-content;
    }

    .footer__content__main__input input {
        border: none;
        height: 30px;
        width: max-content;
        font-size: 1.8rem;
    }

    .footer__content__main__input__button {
        padding: 0 20px;
        height: 60px;
        background-color: #A259FF;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: all 0.3s ease;
    }

    .footer__content__main__input__button:hover {
        transform: scale(0.94);
        background-color: #7a2edd;
    }

    .footer__content__main__input__button img{
        width: 15%;
    }

    .footer__content__main__input__button p {
        font-size: 1.8rem;
        color: #ffff;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        margin: 0;
    }
}

@media (min-width: 884px) {
    .header-hero__content{ 
        width: 65%;
    }
    .header-hero__text h1 {
        font-size: 5rem;
        line-height: 50px;
    }
    .header-hero__text p {
        font-size: 1.7rem;
    }  
    .header-hero__informations {
        gap: 40px;
    }
    #item4 {
        display: flex;
    }
    .creators {
        padding: 45px 100px 0px 100px;
    }
    .creators__content__text p {
        font-size: 1.5rem;
    }
    .categorie-card__text p {
        font-size: 1.5rem;
    }
    .mushroom__content__user {
        width: 20%;
    }
    .mushroom-title {
        width: 100%;
        font-size: 5rem;
    }
    .works__item__text {
        width: 100%;
        height: 100%;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .mobile{
        display: block;
    }
    .desktop {
        display: none;
    }
    .pd {
        padding: 65px 65px;
    }
    .title {
        font-size: 4rem;
    }
    .subtitle {
        font-size: 2rem;
    }
    .header {
        padding-top: 30px;
    }
    .header-nav__logo img:first-child{
        width: 3vw;
    }
    .header-nav__logo img:last-child{
        width: 15vw;
    }
    .header-nav__buttons ul{
        display: flex;
        gap: 40px;
        list-style: none;
        align-items: center;
    }
    .header-nav__buttons ul li{
        font-family: 'Work Sans', sans-serif;
        color: #ffff;
        font-size: 1.8rem;
        font-weight: 600;
        transition: 0.5s;
    }
    .header-nav__buttons ul li:hover{
        color: #CBAFF0;
    }
    #lastElement {
        background-color: #A259FF;
        color: #ffff;
        display: flex;
        gap: 10px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        height: 60px;
        padding: 0 20px;
        transition: all 0.3s ease;
    }
    #lastElement:hover {
        background-color: #7a2edd;
        transform: scale(0.9);
    }
    .header-hero__content {
        width: 50%;
        gap: 30px;
    }
    .header-hero__gif img {
        width: 95%;
    }
    .header-hero__text {
        gap: 20px;
    }
    .header-hero__text h1 {
        font-size: 7rem;
        line-height: 75px;
    }
    .header-hero__text p {
        font-size: 2rem;
        line-height: 30px;
    }
    .header-hero__informations {
        display: flex;
        gap: 60px;
    }
    .information-item h2 {
        font-size: 3rem;
        font-weight: 600;
    }
    .information-item p {
        width: max-content;
        font-size: 2.2rem;
    }
    .trending {
        gap: 60px;
    }
    .trending__content {
        padding: 0 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    #item3 {
        display: flex;
    }
    .creators {
        padding: 65px 110px 0 110px;
    }
    .creators__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .creators__content {
        flex-direction: column;
    }
    
    .creators__content__image {
        justify-content: center;
        width: 60%;
    }
    .creators__content__text h2 {
        font-size: 2.3rem;
        text-align: center;
    }
    .creators__content__text p {
        font-size: 1.6rem;
    }
    .categories__content {
        gap: 25px;
    }
    .categorie-card__image__icon img {
        width: 100%;
    }
    .categorie-card__text p {
        font-size: 2.3rem;
    }
    #item6 {
        display: flex;
    }
    .discover__content {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
    .mushroom {
        height: 600px;
    }
    .mushroom__content__main {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
    .mushroom__content {
        display: grid;
        align-items: end;
    }
    .mushroom-title {
        width: 100%;
        font-size: 5rem;
    }
    .mushroom__button__top {
        width: 50%;
    }
    .mushroom__content__user {
        width: 15%;
    }
    .works__item {
        flex-direction: column;
        padding: 10px 30px 30px;
    }
    .works__item__image {
        width: 80%;
        display: flex;
        align-self: center;
    }
    .works__item__text {
        gap: 15px;
    }
    .works__item__text h2 {
        font-size: 2.3rem;
    }
    .works__item__text p {
        font-size: 1.6rem;
    }
    .contact__content {
        padding: 60px;
        gap: 30px;
    }
    .contact__text {
        gap: 40px;
    }
    .contact__content__image {
       width: 70%;
    }
    .contact__content__main {
        gap: 40px;
        justify-content: center;
        margin-bottom: -15px;
    }
    .contact__content__main__input {
        flex-direction: row;
        gap: 0;
        background-color: #ffff;
        align-items: center;
        border-radius: 20px;
        justify-content: space-between;
        height: 60px;
    }
    .contact__content__main__input input {
        border: none;
        height: 30px;
        width: 70%;
        font-size: 1.8rem;
    }
    .contact__content__main__input input:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }
    .contact__content__main__input__button {
        padding: 0 20px;
        height: 60px;
    }
    .footer__content__main {
        flex-direction: row;
        padding: 0 40px;
        justify-content: space-around;
    }
    .footer__content__main__first {
        width: 25%;
    }
    .footer__content {
        padding: 40px;
    }
    .footer__content__main__last {
        width: 33%;
    }
    .footer__content__rigth {
        margin: 0 80px;
    }
    .footer__content__main__input input {
        padding-right: 0;
    }
    .footer__content__main__last p {
        font-size: 2rem;
    }
    .footer__content__main__middle div:last-child ul li {
        font-size: 2rem;
    }
    .footer__content__main__first__logo img:first-child {
        width: 20%;
    }
    .footer__content__main__first__logo img:last-child {
        width: 100%;
    }
    .footer__content__main__first div:nth-child(2) p,
    .footer__content__main__first div:nth-child(3) p {
        font-size: 2rem;
    }
    .footer__content__rigth p {
        font-size: 2rem;
    }

}